.mainPic{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.MemeGenCss{
    color: white;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

img {
    border: solid gray;
}

.meme_area{
    border: solid gray;
}